In [1]:
from import_process_dataset import import_process_online_shoppers_intention

df, c, cc = import_process_online_shoppers_intention()

In [3]:
%load_ext autoreload
%autoreload 2

In [8]:
from import_process_dataset import check_dataset_availability, DATASET_DIR

import pandas as pd
import os

In [9]:
df = pd.read_csv(os.path.join(DATASET_DIR, "Daegu_Real_Estate_data.csv"), sep=",")

In [17]:
df

,SalePrice,YearBuilt,YrSold,MonthSold,Size(sqf),Floor,HallwayType,HeatingType,AptManageType,N_Parkinglot(Ground),...,N_FacilitiesNearBy(Mall),N_FacilitiesNearBy(ETC),N_FacilitiesNearBy(Park),N_SchoolNearBy(Elementary),N_SchoolNearBy(Middle),N_SchoolNearBy(High),N_SchoolNearBy(University),N_FacilitiesInApt,N_FacilitiesNearBy(Total),N_SchoolNearBy(Total)
0,141592,2006,2007,8,814,3,terraced,individual_heating,management_in_trust,111.0,...,1.0,1.0,0.0,3.0,2.0,2.0,2.0,5,6.0,9.0
1,51327,1985,2007,8,587,8,corridor,individual_heating,self_management,80.0,...,1.0,2.0,1.0,2.0,1.0,1.0,0.0,3,12.0,4.0
2,48672,1985,2007,8,587,6,corridor,individual_heating,self_management,80.0,...,1.0,2.0,1.0,2.0,1.0,1.0,0.0,3,12.0,4.0
3,380530,2006,2007,8,2056,8,terraced,individual_heating,management_in_trust,249.0,...,1.0,0.0,0.0,2.0,2.0,1.0,2.0,5,3.0,7.0
4,221238,1993,2007,8,1761,3,mixed,individual_heating,management_in_trust,523.0,...,1.0,5.0,0.0,4.0,3.0,5.0,5.0,4,14.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5886,511504,2007,2017,8,1643,19,terraced,individual_heating,management_in_trust,0.0,...,1.0,0.0,2.0,3.0,3.0,2.0,2.0,10,9.0,10.0
5887,298230,2006,2017,8,903,13,terraced,individual_heating,management_in_trust,123.0,...,1.0,2.0,0.0,4.0,3.0,3.0,1.0,4,8.0,11.0
5888,357522,2007,2017,8,868,20,terraced,individual_heating,management_in_trust,0.0,...,1.0,0.0,2.0,3.0,3.0,2.0,2.0,10,9.0,10.0
5889,312389,1978,2017,8,1327,1,corridor,individual_heating,self_management,87.0,...,1.0,0.0,0.0,3.0,3.0,3.0,2.0,3,7.0,11.0
5890,393805,2007,2017,8,868,13,terraced,individual_heating,management_in_trust,0.0,...,1.0,0.0,2.0,3.0,3.0,2.0,2.0,10,9.0,10.0

In [16]:
continuous_attributes = list(df.describe())

for c in continuous_attributes:
    cnt = df[c].value_counts()
    if len(cnt)>10:
        print(c, len(cnt))
    else:
        print(c, len(cnt), dict(cnt))

SalePrice 949
YearBuilt 16
YrSold 11
MonthSold 12
Size(sqf) 92
Floor 43
N_Parkinglot(Ground) 23
N_Parkinglot(Basement) 20
N_APT 9 {8.0: 1411, 7.0: 1378, 3.0: 1143, 1.0: 620, 6.0: 593, 2.0: 368, 10.0: 203, 13.0: 111, 5.0: 64}
N_manager 9 {6.0: 1475, 5.0: 1307, 8.0: 1085, 14.0: 610, 3.0: 431, 2.0: 418, 4.0: 219, 7.0: 203, 1.0: 143}
N_elevators 13
N_FacilitiesNearBy(PublicOffice) 8 {5.0: 1812, 3.0: 1195, 2.0: 751, 6.0: 674, 7.0: 623, 1.0: 414, 4.0: 358, 0.0: 64}
N_FacilitiesNearBy(Hospital) 3 {1: 4019, 2: 1808, 0: 64}
N_FacilitiesNearBy(Dpartmentstore) 3 {0.0: 2274, 1.0: 1954, 2.0: 1663}
N_FacilitiesNearBy(Mall) 3 {1.0: 4922, 0.0: 657, 2.0: 312}
N_FacilitiesNearBy(ETC) 4 {0.0: 2595, 5.0: 1919, 1.0: 913, 2.0: 464}
N_FacilitiesNearBy(Park) 3 {0.0: 2647, 1.0: 2634, 2.0: 610}
N_SchoolNearBy(Elementary) 5 {3.0: 2097, 4.0: 1926, 2.0: 1671, 0.0: 119, 6.0: 78}
N_SchoolNearBy(Middle) 5 {3.0: 2472, 2.0: 1431, 1.0: 1017, 4.0: 737, 0.0: 234}
N_SchoolNearBy(High) 6 {2.0: 1930, 1.0: 1320, 5.0: 1182, 4.0: 901, 3.0: 324, 0.0: 234}
N_SchoolNearBy(University) 6 {2.0: 1928, 5.0: 1182, 1.0: 1168, 4.0: 901, 3.0: 583, 0.0: 129}
N_FacilitiesInApt 9 {4: 1447, 7: 1225, 5: 1160, 10: 785, 3: 677, 8: 270, 9: 203, 2: 69, 1: 55}
N_FacilitiesNearBy(Total) 11
N_SchoolNearBy(Total) 14

In [30]:
import pandas as pd


def import_process_real_estate(inputDir=DATASET_DIR):
    
    
    check_dataset_availability("Daegu_Real_Estate_data.csv", inputDir=inputDir)

    df = pd.read_csv(os.path.join(DATASET_DIR, "Daegu_Real_Estate_data.csv"), sep=",")

    df.rename(columns = {"Revenue": "class"}, inplace=True)
    
    df['Month'] = df['Month'].replace({'May': 5, 'Nov': 11, 'Mar': 3, 'Dec': 12, 'Oct': 10, 'Sep': 9, 'Aug': 8, 'Jul': 7, 'June': 6, 'Feb': 2})

    continuous_attributes = list(df.describe())
    
    return df, class_continuous_attributes

In [32]:
df, continuous_attributes = import_process_real_estate()

In [6]:
list(df adf.colums)[0]

'SalePrice'

In [28]:
! python plot_experiment_results_varying_support.py --dataset_name online_shoppers_intention --metric d_error

{'0.03': {'base_pruned': 0.33242652643184467, 'base': 0.33242652643184467, 'generalized_pruned': 0.3568959120636399, 'generalized': 0.3568959120636399}, '0.04': {'base_pruned': 0.2953222508753781, 'base': 0.3083125184937603, 'generalized_pruned': 0.3312425362888033, 'generalized': 0.3355764199565706}, '0.05': {'base_pruned': 0.27414926426685904, 'base': 0.3083125184937603, 'generalized_pruned': 0.3183982707812677, 'generalized': 0.3183982707812677}, '0.075': {'base_pruned': 0.2697557368446162, 'base': 0.2697557368446162, 'generalized_pruned': 0.2950422968647698, 'generalized': 0.2950422968647698}, '0.1': {'base_pruned': 0.2697557368446162, 'base': 0.2697557368446162, 'generalized_pruned': 0.28331985814531035, 'generalized': 0.28331985814531035}, '0.15': {'base_pruned': 0.11739653481837753, 'base': 0.11739653481837753, 'generalized_pruned': 0.2551753446877534, 'generalized': 0.2551753446877534}, '0.2': {'base_pruned': 0.08083374646066432, 'base': 0.08083374646066432, 'generalized_pruned': 0.21455973518631777, 'generalized': 0.21455973518631777}}
Execution time $(seconds)$ time
./output_red/figures/output_performance/online_shoppers_intention_stree_0.1_d_error_time.pdf
/home/dauin_user/pastor/hierarchical-subgroup/hierarchical-subgroup-exploration/utils_plot.py:168: UserWarning: Tight layout not applied. The left and right margins cannot be made large enough to accommodate all axes decorations.
  fig.tight_layout()
Figure(300x300)
Max $\Delta_{ERROR}$ max_d_error
./output_red/figures/output_performance/online_shoppers_intention_stree_0.1_d_error_max_d_error.pdf
/home/dauin_user/pastor/hierarchical-subgroup/hierarchical-subgroup-exploration/utils_plot.py:168: UserWarning: Tight layout not applied. The left and right margins cannot be made large enough to accommodate all axes decorations.
  fig.tight_layout()
Figure(300x300)
#FP FP
./output_red/figures/output_performance/online_shoppers_intention_stree_0.1_d_error_FP.pdf
Figure(300x300)

In [ ]:

1
!python run_pruned_v2.py  --min_sup_divergences 0.03 0.04 0.05 0.075 0.1 0.15 0.2

In [64]:
from import_process_dataset import import_folkstables, import_process_adult, import_process_german, import_process_online_shoppers_intention, import_process_wine
info = {}
for name, imported in [('folks', import_folkstables()), ('adult', import_process_adult()),\
                       ('german', import_process_german()), ('online_shopper', import_process_online_shoppers_intention()),\
                     ('wine', import_process_wine()) ]:
    df, t, cc = imported
    print(name)
    cols = list(df.columns)
    if type(t) == dict:
        cols.remove('class')
    else:
        cols.remove(t)
    info[name] = [df.shape[0], len(cols), len(cc), len(cols)-len(cc)]

folks
adult
german
online_shopper
wine

In [65]:
import pandas as pd

info_df = pd.DataFrame(info).T

info_df.columns = ['#instances', '#attribute', '#numerical', '#nominal']

In [66]:
info_df

                #instances  #attribute  #numerical  #nominal
folks               195556          10           2         8
adult                45222          11           4         7
german                1000          21           7        14
online_shopper       12330          17          14         3
wine                  9796          11          11         0

In [70]:
df = import_process_wine()

df[0].shape[0]

9796